/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Import material theming functions
@import '~@angular/material/theming';
$primary: mat-color(mat-palette($mat-purple));
$accent: mat-color(mat-palette($mat-amber));
$grey: mat-color(mat-palette($mat-grey));

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
